# Development SQLite DB
DATABASE_URL="file:./dev.db"

# Change this to a strong random string
JWT_SECRET="replace-with-a-strong-secret-key-minimum-32-chars"

# Optional: API base URL
NEXT_PUBLIC_API_URL="http://localhost:3000"
